section.new{
    width: calc(100% - 180px);
    margin-left: 180px;
    border: 1px #dbdbdb solid;
    border-radius:3px;
    min-height: 100px;
    margin-top: 30px;
    background-color: #fff;
}

@media (max-width: 767px){
    section.new{
        width: calc(90%);
        margin-left: 5%;
        border: none;
        border: solid 1px #dbdbdb;
    }
}